<!-- this element should take a list of links and render them orderly -->
<section class="tasklist">
    
<% if(typeof links !== 'undefined' && Array.isArray(links)) { %>
    <ul class="links list">
        <h1 class="dark">Oppgaver fordelt per kurs:</h1>
        <% for(link of links) { %>
            <li>
                <a href=<%=link.href %>><%=link.link %></a>
            </li>
        <% } %>
    </ul>
<% } else { %>
    <h1>Nothing to do!</h1>
    <p>
        It seems that there are no tasks assigned for you, but don't sit on your hands, keep yourself busy!
        Thourougly think through: 
        <ul>
            <li>What do you need to practice the most? Is there something you think is</li>
            <li>particularily difficult?</li>
        </ul>
    </p>
<% } %>

</section>