<%- include("./partials/top") %>
<header class="banner full-width">
    <span class="top">
        Informasjonsteknologi
    </span> 
    <span class="middle">
        &
    </span>
    <span class="bottom">
        Mediefag
    </span>
</header>
<%- include("./partials/tasklist") %>
<%- include("./partials/bottom") %>